@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Golos Text";
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.redColor {
  color: #b10000;
}

.brownColor {
  color: #630000;
}

.whiteColor {
  color: #ffffff;
}

@font-face {
  font-family: "AwesomeSerif";
  src: url(/public/fonts/AwesomeSerif-BoldExtraTall.otf);
}
header {
  color: #b10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2vw 30px;
  box-shadow: 0px -9px 39px 13px rgba(0, 0, 0, 0.37);
}
header .badge {
  width: 13vw;
  max-width: 190px;
}
header .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .center .image {
  height: 100px;
  pointer-events: none;
}
header .center .image img {
  transform: scale(4);
}
header .center .links {
  display: flex;
  gap: 2vw;
}
header .center .links a {
  font-weight: 500;
  position: relative;
}
header .center .links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
header .center .links a::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  height: 1.5px;
  background: #b10000;
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform;
}
header .right {
  display: flex;
  align-items: center;
  gap: 2vw;
}
header .right .inputContainer {
  position: relative;
}
header .right .inputContainer input {
  outline: none;
  border-radius: 20px;
  border: 1px solid #b10000;
  padding: 10px 10px 10px 30px;
  width: 10vw;
  caret-color: #b10000;
  color: #b10000;
}
header .right .inputContainer input::-moz-placeholder {
  color: #b10000;
  font-size: 15px;
}
header .right .inputContainer input::placeholder {
  color: #b10000;
  font-size: 15px;
}
header .right .inputContainer .searchIcon {
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
header .right .cartShopping {
  font-size: 25px;
}
header .right .cartShopping:hover {
  cursor: pointer;
}

#Accueil .FirstSection {
  position: relative;
  height: 83vh;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
#Accueil .FirstSection .image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: brightness(0.9);
  background: white;
}
#Accueil .FirstSection .image img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#Accueil .FirstSection .title h1 {
  font-family: "AwesomeSerif";
}
#Accueil .FirstSection .button {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #b10000;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  border-radius: 30px;
}
#Accueil .FirstSection .button:hover {
  cursor: pointer;
}
#Accueil .FirstSection .patternContainer {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
#Accueil .FirstSection .patternContainer img {
  height: 53px;
  width: 370px;
}/*# sourceMappingURL=style.css.map */