#Accueil {
  color: $Red;

  .SecondSection,
  .ThirdSection {
    max-width: 1440px;
    margin: auto;
  }

  .FirstSection {
    position: relative;
    height: 81vh;
    color: $White;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    .title {
      p {
        font-size: 45px;
      }
    }

    .image {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      filter: brightness(0.9);
      background: white;

      img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        object-fit: cover;
        object-position: center;
      }
    }

    .button {
      font-size: 20px;
      text-transform: uppercase;
      color: $White;
      background: $Red;
      border: none;
      width: fit-content;
      padding: 15px 25px;
      border-radius: 30px;

      &:hover {
        cursor: pointer;
      }
    }

    .patternContainer {
      position: absolute;
      bottom: 2vh;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      img {
        height: 53px;
        width: 370px;
      }
    }
  }

  .SecondSection {
    padding: 100px 0 100px 5vw;
    // margin: 0 5v/w;
    overflow: hidden;

    .topSection {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .arrowContainer {
        padding: 0 5vw 0 0;
        display: flex;
        gap: 10px;

        .arrowLeft,
        .arrowRight {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          width: 40px;
          aspect-ratio: 1/1;
          border: 2px solid $Red;
          transition: 0.4s;

          &:hover {
            cursor: pointer;

            background: $Red;

            svg {
              color: $White;
            }
          }
        }
      }
    }

    .carrousel {
      margin-top: 20px;

      .decoupesContainer {
        display: flex;
        gap: 10px;
        width: fit-content;
        transition: transform 0.65s cubic-bezier(0.65, 0, 0.35, 1);

        .decoupe {
          .image {
            position: relative;
            width: 450px;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 20px;
            &:hover {
              cursor: pointer;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }

            .thumbnailsContainer {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(0, 0, 0, 0.347);
              transition: opacity 0.4s;

              .imagesContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
                img {
                  width: 40%;
                  height: 40%;
                  border-radius: 10px;
                }
              }
            }
          }

          p {
            padding: 20px 0 0;
            text-align: center;
          }
        }
      }
    }
  }

  .ThirdSection {
    padding: 50px 5vw;
    text-align: center;

    .title {
      margin-bottom: 100px;
      padding: 0 2vw;
    }

    h2 {
      font-family: "AwesomeSerif";
      font-size: 50px;
    }

    p {
      font-size: 20px;
    }
    .blocksContainer {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .block {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        border: 2px solid $Red;
        border-radius: 10px;
        padding: 70px 20%;
        .btns-container{
           display: flex;
           gap: 36px;
           width: 100%;
        }

        .btn {
          font-size: 20px;
          text-transform: uppercase;
          border: 2px solid $Red;
          width: fit-content;
          padding: 10px 0;
          width: 50%;
          border-radius: 25px;
          transition: 0.4s;

          &:hover {
            background: $Red;
            color: $White;
          }
        }
      }
    }
  }
}
