@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Golos Text";
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "AwesomeSerif";
  font-size: 65px;
}

main {
  padding: 170px 0 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.redColor {
  color: #b10000;
}

.brownColor {
  color: #630000;
}

.whiteColor {
  color: #ffffff;
}

.hidden {
  overflow: hidden;
}

@font-face {
  font-family: "AwesomeSerif";
  src: url(/fonts/AwesomeSerif-BoldExtraTall.otf);
}
header {
  position: fixed;
  width: 100%;
  z-index: 6;
  background: #ffffff;
  color: #b10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw 30px;
  box-shadow: 0px -9px 39px 13px rgba(0, 0, 0, 0.37);
}
header .badge {
  width: 13vw;
  max-width: 190px;
}
header .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .center .image {
  height: 100px;
  pointer-events: none;
}
header .center .image img {
  transform: scale(4);
}
header .center .links {
  display: flex;
  gap: 2vw;
}
header .center .links a {
  font-weight: 500;
  position: relative;
}
header .center .links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
header .center .links a::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  height: 1.5px;
  background: #b10000;
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform;
}
header .right {
  display: flex;
  align-items: center;
  gap: 2vw;
}
header .right .inputContainer {
  position: relative;
}
header .right .inputContainer input {
  outline: none;
  border-radius: 20px;
  border: 1px solid #b10000;
  padding: 8px 10px 8px 30px;
  width: 140px;
  caret-color: #b10000;
  color: #b10000;
}
header .right .inputContainer input::-moz-placeholder {
  color: #b10000;
  font-size: 15px;
}
header .right .inputContainer input::placeholder {
  color: #b10000;
  font-size: 15px;
}
header .right .inputContainer .searchIcon {
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
header .right .cartShopping {
  font-size: 25px;
}
header .right .cartShopping:hover {
  cursor: pointer;
}

.ScrollBarContainer {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
}
.ScrollBarContainer .scrollBar {
  width: 100%;
  height: 100%;
  background-color: #b10000;
  transform-origin: left;
}

#Accueil {
  color: #b10000;
}
#Accueil .FirstSection {
  position: relative;
  height: 81vh;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
#Accueil .FirstSection .title p {
  font-size: 45px;
}
#Accueil .FirstSection .image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: brightness(0.9);
  background: white;
}
#Accueil .FirstSection .image img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#Accueil .FirstSection .button {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #b10000;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  border-radius: 30px;
}
#Accueil .FirstSection .button:hover {
  cursor: pointer;
}
#Accueil .FirstSection .patternContainer {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
#Accueil .FirstSection .patternContainer img {
  height: 53px;
  width: 370px;
}
#Accueil .SecondSection {
  max-width: 1440px;
  margin: auto;
  padding: 100px 0 100px 5vw;
  overflow: hidden;
}
#Accueil .SecondSection .topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Accueil .SecondSection .topSection .arrowContainer {
  padding: 0 5vw 0 0;
  display: flex;
  gap: 10px;
}
#Accueil .SecondSection .topSection .arrowContainer .arrowLeft,
#Accueil .SecondSection .topSection .arrowContainer .arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1/1;
  border: 2px solid #b10000;
  transition: 0.4s;
}
#Accueil .SecondSection .topSection .arrowContainer .arrowLeft:hover,
#Accueil .SecondSection .topSection .arrowContainer .arrowRight:hover {
  cursor: pointer;
  background: #b10000;
}
#Accueil .SecondSection .topSection .arrowContainer .arrowLeft:hover svg,
#Accueil .SecondSection .topSection .arrowContainer .arrowRight:hover svg {
  color: #ffffff;
}
#Accueil .SecondSection .carrousel {
  margin-top: 20px;
}
#Accueil .SecondSection .carrousel .decoupesContainer {
  display: flex;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: transform 0.65s cubic-bezier(0.65, 0, 0.35, 1);
}
#Accueil .SecondSection .carrousel .decoupesContainer .decoupe .image {
  width: 450px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 20px;
}
#Accueil .SecondSection .carrousel .decoupesContainer .decoupe .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#Accueil .SecondSection .carrousel .decoupesContainer .decoupe p {
  padding: 20px 0 0;
  text-align: center;
}

#Histoire {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Histoire .FirstSection,
#Histoire .SecondSection {
  padding: 20px 5vw;
  max-width: 1440px;
}
#Histoire .FirstSection {
  display: flex;
  flex-direction: column;
  height: 700px;
}
#Histoire .FirstSection .contentContainer {
  flex-grow: 1;
  display: flex;
  margin-top: 20px;
}
#Histoire .FirstSection .contentContainer img {
  width: 50%;
  height: 100%;
}
#Histoire .FirstSection .contentContainer .textsContainer {
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Histoire .FirstSection .contentContainer .textsContainer .paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#Histoire .FirstSection .contentContainer .textsContainer .paragraph p {
  font-weight: 600;
}
#Histoire .FirstSection .contentContainer .textsContainer .paragraph span,
#Histoire .FirstSection .contentContainer .textsContainer .paragraph p {
  font-size: 16px;
}
#Histoire .SecondSection {
  padding-top: 100px;
}
#Histoire .SecondSection .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
#Histoire .SecondSection .title p {
  font-size: 20px;
}
#Histoire .SecondSection .cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
#Histoire .SecondSection .cardsContainer .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}
#Histoire .SecondSection .cardsContainer .card:hover {
  cursor: pointer;
}
#Histoire .SecondSection .cardsContainer .card:hover p {
  opacity: 1;
}
#Histoire .SecondSection .cardsContainer .card p {
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  text-align: center;
  padding: 0 10%;
  transition: opacity 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
#Histoire .SecondSection .cardsContainer .card .image {
  width: 80%;
}
#Histoire .SecondSection .cardsContainer .card .image img {
  width: 100%;
}

#Produits {
  height: 100vh;
  color: #b10000;
}
#Produits .pictoContainer {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 0 5vw;
}
#Produits .pictoContainer .picto {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: opacity 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: opacity;
}
#Produits .pictoContainer .picto:hover {
  cursor: pointer;
}
#Produits .pictoContainer .picto:not(:hover) {
  opacity: 0.5;
}
#Produits .pictoContainer .picto .image {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
#Produits .pictoContainer .picto .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#Produits .textsContainer {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
#Produits .textsContainer .text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
#Produits .textsContainer .text h1 {
  font-size: 100px;
}
#Produits .textsContainer .text p {
  font-size: 30px;
}
#Produits .textsContainer .text span {
  font-size: 15px;
  display: block;
}/*# sourceMappingURL=style.css.map */