* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Golos Text";
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.redColor {
  color: $Red;
}
.brownColor {
  color: $Brown;
}
.whiteColor {
  color: $White;
}
